<a href="https://colab.research.google.com/github/Jade-flow/a590/blob/main/python/py-function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework
*   author: J
*   date: 12-25-2029
*   description: Do Python in Jupyter notebook on Colab

In [ ]:
# check python version 
import sys
sys.version_info

sys.version_info(major=3, minor=7, micro=11, releaselevel='final', serial=0)

In [ ]:
# testBreak.py
sum = 0
number = 0

while number < 100:
  number += 1
  sum += number
  if sum >= 10000:
    break

print(f"The number is {number}. \nThe sum is {sum}.")

The number is 100.
The sum is 5050.

In [ ]:
# sort(n1, n2)
def sort(n1, n2):
  """
  Takes two numbers and returns them in ascending order
  Examples::
    sort(4.5, 9)
  """

  return

# timeit
A simple way to time small bits of Python code

In [11]:
%%timeit 
[n ** 2 for n in range(100000)]

10 loops, best of 5: 30 ms per loop

In [12]:
%%timeit
 L = []
for n in range(100000):
  L.append(n ** 2)

10 loops, best of 5: 34.3 ms per loop

# Palindrome

* The `[::-1]` notation

Reverse the characters in a string list.

_Start at the end; count down to the beginning; step backwards one step at a time_.

* `Ternary operator`

https://book.pythontips.com/en/latest/ternary_operators.html

In [23]:
n = 234595432
sn = str(n)
# f"{sn[::-1]}"

is_palindrome = False
if sn == sn[::-1]:
  is_palindrome = True
  
answer = f"{n} is a palindrome" if is_palindrome is True else f"{n} is NOT a palindrome"
print(answer)

234595432 is a palindrome

In [6]:
sn = list(str(100)) # ['1', '0', '0']
rsn = 

[ for d in sn]

['1', '0', '0']