<a href="https://colab.research.google.com/github/Jade-flow/a590/blob/main/python/py-function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework
*   author: J
*   date: 12-25-2029
*   description: Do Python in Jupyter notebook on Colab

In [ ]:
# check python version 
import sys
sys.version_info

sys.version_info(major=3, minor=7, micro=11, releaselevel='final', serial=0)

In [ ]:
# testBreak.py
sum = 0
number = 0

while number < 100:
  number += 1
  sum += number
  if sum >= 10000:
    break

print(f"The number is {number}. \nThe sum is {sum}.")

The number is 100.
The sum is 5050.

In [ ]:
# sort(n1, n2)
def sort(n1, n2):
  """
  Takes two numbers and returns them in ascending order
  Examples::
    sort(4.5, 9)
  """

  return

# timeit
A simple way to time small bits of Python code

In [11]:
%%timeit 
[n ** 2 for n in range(100000)]

10 loops, best of 5: 30 ms per loop

In [12]:
%%timeit
 L = []
for n in range(100000):
  L.append(n ** 2)

10 loops, best of 5: 34.3 ms per loop

# Palindrome

## Using the `[::-1]` notation

* The `[::-1]` notation

Reverse the characters in a given string.

_Start at the end; count down to the beginning; step backwards one step at a time_.

* `Ternary operator`

https://book.pythontips.com/en/latest/ternary_operators.html

In [28]:
n = 199
sn = str(n)
sn[::-1]

'991'

In [29]:
L = [1,2,3]
L[::-1]

[3, 2, 1]

In [24]:
n = 234595432
n ="kayak"
sn = str(n)
# f"{sn[::-1]}"

is_palindrome = False
if sn == sn[::-1]:
  is_palindrome = True

answer = f"{n} is a palindrome" if is_palindrome is True else f"{n} is NOT a palindrome"
print(answer)

kayak is a palindrome

## Using list object

In [6]:
n = 101
ds = list(str(n)) # ['1', '0', '0']
index = range(0, len(ds))
rds = []

[ rds[i] = d for d in ds for i in index ]

['1', '0', '0']

In [26]:
sn = [1,2,3]
sn[::-1]

[3, 2, 1]